*{
    box-sizing: border-box;
}

body{
    font-size: 20px;
    font-family: 'Helvetica', 'Arial', sans-serif;
    background: white;
}

a{
    color: black;
    text-weight: bolder;
    text-decotation: none;
}

header {
    margin: 20px;
    badding: 5px;
    border-radius: 5px;
    background-color: darkgrey;
}

h1{
    padding: 20px;
    font-weight: bolder;
}


.navbar{
    display: flex;
    aligin-items: center;
}

.nav{
    width: 100%;
    display: inline-block;
    max-height: 60px;
}

.nav-list{
    list-style-type: none;
    overflow: hidden;
    
}

.nav-item a{
    float: left;
    padding: 0 20px;
    text-decoration: none;
    text-align: center;
}

.nav-item a:hover{
    background-color: rgb(226, 226, 226);
}

.container{
    margin: 20px;
    padding: 10px;
}

.forum{
    margin-top: 20px;
}

.forum-title {
   background-color: darkgrey;
   padding: 20px;
   border-radius: 5px;
   margin: 10px;
}

.forum-title a{
   text-decoration: none;
}

.forum-title a:hover{
    background-color: rgb(226, 226, 226);
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
