*{
    box-sizing: border-box;
    margin: 0;
}

body{
    margin: 10px;
    font-size: 20px;
    font-family: 'Helvetica', 'Arial', sans-serif;
    background: #f5f5f5;
}

a{
    color: black;
}

header {
    display: flex;
    background-color: #4682B4;
    justify-content:space-between;
    aligin-items: center;
}

h1{
    font-weight: bolder;
    padding: 10px;
}

.nav-bar{
    padding: 10px;
}

.nav-list li{
    list-style-type: none;
    display: inline-block;    
}

.nav-item a{
    padding: 0 20px;
    text-decoration: none;
}

.nav-item a:hover{
    background-color: rgb(226, 226, 226);
}

.search-box{
    padding: 10px;
}

.search-box select{
   padding: 10px;
}

.search-box input{
   padding: 10px;
}

.container{
    margin: 5px 20%;
    padding: 10px;
    bacground-color: white;
}

.index{
   margin-top: 10px;
}

.index-title-row{
    display: grid;
    grid-template-columns: 60% 15% 15% 10%;
    background-color: #4682B4; 
    margin-top: 2px;
    padding: 10px;
}

.index-row{
    display: grid;
    grid-template-columns: 60% 15% 15% 10%;
    background-color: #B0C4DE;
    margin-top: 2px;
    margin-bottom: 2px;
    padding: 10px;
} 

.index-row a{
   text-decoration: none;
}

.index-row a:hover{
    background-color: rgb(226, 226, 226);
}

.forum{
    margin-top: 10px;
}

.forum-title-row{
    display: grid;
    grid-template-columns: 55% 15% 15% 15%;
    background-color: #4682B4; 
    margin-top: 2px;
    padding: 5px;
}

.forum-row{
    display: grid;
    grid-template-columns: 55% 15% 15% 15%;
    background-color: #B0C4DE;
    margin-top: 2px;
    margin-bottom: 2px;
    padding: 5px;
}

.forum-row a{
   text-decoration: none;
}

.forum-row a:hover{
    background-color: rgb(226, 226, 226);
}

.thread{
  margin-top: 10px;
}

.thread-title{
   background-color: #4682B4;
   padding: 5px;
   border-radius: 0px;
   font-size: 20px;
   text-weight: bolder;
}

.thread-row{
    display: grid;
    margin-top: 2px;
    margin-bottom: 2px;
    paddin: 10px;
}

.message-info{
    background-color: #B0C4DE;
    padding: 5px;
}

.message-info a{
     text-decoration: none;
}

.message-info a:hover{
    background-color: rgb(226, 226, 226);
}

.content{
    background-color: white;
    padding: 5px;
    white-space: pre-line;
    overflow: hidden;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 1100px) {
    .container {
        margin: 0;
    }

    header {
        display: grid;
        font-size: 15px;
    }
   
    body {
        font-size: 11px;
    }
}

