<link rel="stylesheet" href="static/main.css">
{% extends "layout.html" %}
{% block content %}
{% if session.user_id %}

<h1>{{ forum_name }}</h1>

<div class="forum">
    <div class="forum-title-row">
        <div>Vietiketjut</div>
        <div>Lähettäjä</div>
        <div>Vastauksia</div>
        <div>Aloitettu</div>
    </div>
    {% for thread in threads %}
    <div class="forum-row">
        <a href="/thread/{{ thread.id }}">{{ thread[1] }}</a>
        <div>{{ thread[4] }}</div>
        <div>{{ thread[5] }}</div>
        <div>{{ thread[2].strftime("%d.%m.%Y %H:%M") }}</div>
    </div>
    {% endfor %}
    <div class="thread_row">
        <form action="/add_thread" method="post">
        <div class="message-info">
            <p>Uusi keskustelu:</p>
        </div>
        <div class="content">
            <p>Otsikko:<br>
            <input type="text" name="thread_name" required minlength="1" maxlength="60"></p>
            <p>Viesti:<br>
            <textarea name="content" rows="4" cols="40" required minlength="1" maxlength="500"></textarea></p>
            <input type="hidden" name="forum_id" value="{{ id }}">
            <input type="submit" value="Lähetä">
            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
        </form>
        </div>
    </div>
</div>

{% if session.user_role == 2 %}
<h1>Piilotetut keskustelualueet:</h1>
<div class="forum">
    <div class="forum-title-row">
        <div>Vietiketjut</div>
        <div>Lähettäjä</div>
        <div>Aloitettu</div>
    </div>
    {% for thread in hidden_threads %}
    <div class="forum-row">
        <a href="/thread/{{ thread.id }}">{{ thread[1] }}</a>
        <div>{{ thread[4] }}</div>
        <div>{{ thread[2].strftime("%d.%m.%Y %H:%M") }}</div>
    </div>
    {% endfor %}
</div>
{% endif %}

{% endif %}
{% endblock %}
