{% block content %}

<h1>{{ forum_name }}</h1>

Uusi keskustelu:
<form action="/add_thread" method="post">
<p>Otsikko:<br> 
<input type="text" name="thread_name" required minlength="1" maxlength="30"></p>
<p>Viesti:<br> 
<textarea name="content" rows="4" cols="40" required minlength="1" maxlength="200"></textarea></p>
<input type="hidden" name="forum_id" value="{{ id }}">
<input type="submit" value="Lähetä">
</form>
<ul>
{% for thread in threads %}
<li><a href="/thread/{{ thread.id }}">{{ thread.thread_name }}</a>
{% endfor %}
</ul>
<p>
{%  if session.user_role == 2 %}
Poista keskustelualue:<br>
<form action="/remove_forum" method="post">
<input type="submit" value="Poista">
<input type="hidden" name="id" value="{{ id }}">
</form>
{% endif %}

<a href="/">Takaisin</a>

{% endblock %}
