<link rel="stylesheet" href="static/main.css">
{% extends "layout.html" %}
{% block content %}

{% if session.user_id %}
{% for forum in forums %}
<div class="container">
    <div class="forum">
        <div class="forum-title center">
           <a href="/forum/{{ forum.id }}">{{ forum.forum_name }}</a>
        </div>
    </div>
</div>
{% endfor %}
{% endif %}

{% if session.user_role == 2 %}
Uusi keskustelualue:
<form action="/add_forum" method="POST">
    Aihe: <input type="text" name="forum_name" required minlenght="1" maxlength="30">
    <input type="submit" value="Lisää">
    <input type="hidden" name="csrf_token" value="{{ session.csfr_token }}">
</form>
{% endif %}

{% endblock %}
