<!DOCTYPE html>
<link rel="stylesheet" href="/static/main.css">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>MUSAJUTTU</title>

<body>
<header>
    <h1>MUSAJUTTU</h1>
    <nav class="nav-bar">
        <ul class ="nav-list">
            {% if session.user_id %}
            <li class="nav-item">
                <a href="/">Etusivu</a>
            </li>
            {% block nav %}{% endblock %}
            <li class="nav-item">
            Kirjautunut sisään nimellä: <b>{{ session.user_name }}</b>
            </li>
            <li class="nav-item">
                <a href="/logout">Kirjaudu ulos</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a href="/login">Kirjaudu sisään</a>
            </li>
            <li class="nav-item">
                <a href="/register">Rekisteröidy</a>
            </li>
            {% endif %}
        </ul>
    </nav>
    {% if session.user_id %}
    <div class="search-box">
        <form action="/search" method="POST">
        <select id="search_from" name="search_from">
            <option value="from_all">Kaikista</opition>
            <option value="from_threads">Aloituksista</opition>
            <option value="from_messages">Viesteistä</option>
        </select>
        <input type="text" name="keyword" placeholder="Hakusana..">
        <input type="submit" value="Etsi">
        </form>
    </div>
    {% endif %}
</header>
{% if session.user_id %}
Paikalla:
{% for user in online %}
{{ user.username }}
{% endfor %}
{% endif %}
<div class="container">
{% block content %}{% endblock %}
</div>
</body>

